<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Rest">
    <listeners>
        <listener class-name="utils.TestNGListener" />
    </listeners>
    <test name="shouldBePassed" >
        <classes>
            <class name="rest.TestRest">
                <methods>
                    <include name="getAuthorByAuthorIdTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="shouldBeFailed">
        <classes>
            <class name="rest.TestRest">
                <methods>
                    <include name="getGenreByNotValidBookIdTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>